.innerWrapper {
  display: flex;
  flex-direction: column;
  min-height: 78vh;
  padding: 0 2rem 0 2rem;
  align-items: center;
}

.text {
  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
}
.photo {
  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
  margin-bottom: 2rem;
}

@media (min-width: 920px) {
  .innerWrapper {
    flex-direction: row;
  }
  .text {
    padding-left: 1rem;
  }
  .photo {
    padding-right: 1rem;
    margin-bottom: 0;
  }
}
