.container {
  display: block;
}
.heading {
  width: 100%;
  display: flex;
  justify-content: center;
}
.headingText {
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  font-size: 125px;
  font-weight: 400;
  text-align: center;
  line-height: 105px;
  margin-bottom: 2rem;
}
.headingText span:nth-child(1) {
  margin-right: 0;
}
.imageCopyWrapper {
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.imageSide {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.image {
  width: 100%;
}
.copyInnerWrapper {
  width: 100%;
}
.copySide {
  display: flex;
  flex: 0 1 50%;
  padding-top: 3rem;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.boldCopy {
  width: 100%;
}

.headshotWrapper {
  display: block;
}

.portrait {
  margin-top: 6rem;
  border-radius: 30px;
  height: 85vh;
  width: 100%;
  background-image: url("../../public/images/mirror.jpeg");
  background-size: cover;
  background-position: center;
}

@media (min-width: 913px) {
  .heading {
    height: 250px;
    justify-content: flex-end;
    position: absolute;
  }
  .headingText {
    flex: 0 1 25%;
    text-align: right;
    margin-bottom: unset;
    font-size: 150px;
    line-height: 125px;
  }
  .headshotWrapper {
    display: none;
  }
  .headingText span:nth-child(1) {
    margin-right: 200px;
  }
  .imageCopyWrapper {
    flex-direction: row;
  }
  .imageSide {
    flex: 0 1 50%;
    /* background-color: green; */
    justify-content: flex-start;
    background-image: url("../../public/images/headshot.png");
    background-size: cover;
    background-position: top center;
  }

  .copySide {
    height: 100%;
    padding-top: 300px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
  .boldCopy {
    width: 50%;
  }
  .copyInnerWrapper {
    /* width: 75%; */
  }
}
