.container {
  display: flex;
  height: 50px;
}

.brandContainer {
  display: flex;
  height: 100%;
  flex: 0 1 20%;
  justify-content: flex-start;
  align-items: center;
}

.brand {
  font-size: 30px;
  padding-left: 2rem;
}

.menuContainer {
  display: flex;
  flex: 0 1 80%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
}

.menu {
  display: flex;
}
.menuItem {
  padding-left: 2.5rem;
}
