.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  overflow-x: hidden;
}

.navContainer {
  display: flex;
  z-index: 10;
}

.subNavContainer {
  height: fit-content;
  padding: 0 2rem 0 2rem;
  margin-top: 2rem;
}

.subNavList {
  display: flex;
  justify-content: flex-start;
}

.subNavListItemTitle {
  display: flex;
  align-items: center;
}
.subNavListItemText {
  font-size: 12px;
}

.brandContainer {
  display: flex;
  height: 70px;
  flex: 0 1 20%;
  justify-content: flex-start;
  align-items: center;
  background-color: #2a2727;
}

.brand {
  font-size: 55px;
  padding-left: 2rem;
  margin-top: 10px;
  color: #ffffff;
}

.menuContainer {
  min-height: 70px;
  height: fit-content;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #2a2727;
  box-shadow: rgba(42, 39, 39, 0.15) 0px 1px 2px 0px;
  display: flex;
  flex: 0 1 80%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
}

.menu {
  display: flex;
}
.desktopNav .menuItem {
  padding-left: 2.5rem;
  color: #ffffff;
}

.menuButton {
  background-color: white;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  z-index: 2;
}
.desktopNav {
  display: none;
}
.mobileNav {
  background-color: #2a2727;
  height: 50px;
  display: flex;
  align-items: center;
}
.mobileNav .menuItem {
  color: #ffffff;
}

.mobileNav .menu {
  justify-content: space-around;
  width: 100%;
}

.established {
  display: none;
}

@media (min-width: 692px) {
  .menuContainer {
    border-top-left-radius: 5000px;
    border-bottom-left-radius: 5000px;
    display: flex;
    justify-content: space-between;
  }
  .brand {
    color: #2a2727;
  }
  .desktopNav {
    display: block;
  }
  .mobileNav {
    display: none;
  }
  .brandContainer {
    background-color: inherit;
  }
  .established {
    display: block;
  }
}

/* #ffffff */
