.container {
  display: flex;
  flex-direction: column;
  height: inherit;
  padding: 0 2rem 2rem 2rem;
}

.innerWrapperTop {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  flex: 0 1 65%;
  align-items: center;
  text-align: center;
}
.roleWrapper {
  display: flex;
  flex-direction: column;
}

.topRole {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 112px;
  overflow: hidden;
  margin-top: -70px;
}
.imageWrapper {
  width: 75%;
  background-color: red;
  display: flex;
  justify-content: center;
  border-radius: 1000px;
  overflow: hidden;
  aspect-ratio: 1/1;
  position: relative;
  min-width: 300px;
  min-height: 300px;
}
.image {
  position: absolute;
  bottom: -50px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.underline {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: calc(1px + 0.2vw);
  background-color: red;
}

.wrapperBottom {
  display: flex;
  flex-direction: column;
  flex: 0 1 40%;
}
.innerWrapperBottom {
  display: flex;
  flex: 0 1 100%;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}
.blurbWrapper {
  display: flex;
  flex: 0 1 50%;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
.blurb {
  font-size: 16px;
  font-weight: 500;
}
.blurbPiece {
  display: inline-block;
}

.iconWrapper {
  display: flex;
  flex: 0 1 20%;
  justify-content: flex-start;
  align-items: center;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  justify-content: flex-start;
}

.name {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 80px;
  text-align: center;
  overflow: hidden;
  margin-top: -37px;
}

.roleChar {
  display: inline-block;
}

.nameChar {
  display: inline-block;
}

.button {
  --c: white; /* the color*/
  --ch: white;
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  box-shadow: 0 0 0 0.1em inset var(--c);
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
  padding: 1rem 2rem 1rem 2rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 45px;
  color: white;
}

.button:hover {
  --_p: 100%;
  color: black;
  transition: background-position 0.4s, background-size 0s, color 0.4s;
}

.button:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}

@media (min-width: 913px) {
  .innerWrapperTop {
    flex-direction: row;
    justify-content: space-between;
    margin-top: unset;
    text-align: left;
  }
  .innerWrapperBottom {
    flex-direction: row;
    align-items: unset;
    text-align: left;
  }
  .topRole {
    font-size: 12vw;
    letter-spacing: 10px;
    line-height: max(13vw, 15vw);
  }
  .name {
    font-size: 12vw;
    letter-spacing: 10px;
    line-height: max(9.5vw, 11.5vw);
    text-align: right;
  }
  .blurb {
    font-size: 1.35vw;
  }
}
