.container {
  display: block;
}
.container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: white;
  width: 92%;
}

.innerWrapperTop {
  display: flex;
  flex-direction: column;
  flex: 0 1 65%;
  align-items: center;
}
.roleWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.topRole {
  font-size: 125px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 96px;
  overflow: hidden;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topRole:nth-child(3) {
  margin-top: -30px;
}
.imageWrapper {
  width: 75%;
  background-color: red;
  display: flex;
  justify-content: center;
  border-radius: 1000px;
  overflow: hidden;
  aspect-ratio: 1/1;
  position: relative;
  min-width: 300px;
  min-height: 300px;
}
.image {
  position: absolute;
  bottom: -65px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.underline {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: calc(1px + 0.2vw);
  background-color: red;
}

.wrapperBottom {
  display: flex;
  flex-direction: column;
  flex: 0 1 40%;
}
.innerWrapperBottom {
  display: flex;
  flex: 0 1 100%;
  flex-direction: column-reverse;
  align-items: center;
}
.blurbWrapper {
  display: flex;
  flex: 0 1 50%;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
.blurb {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.blurbPiece {
  display: inline-block;
  margin-bottom: 1rem;
}

.iconWrapper {
  display: flex;
  flex: 0 1 20%;
  justify-content: flex-start;
  align-items: center;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  justify-content: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.name {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.name:nth-child(3) {
  margin-top: -30px;
}
.roleChar {
  display: inline-block;
}

.nameChar {
  display: inline-block;
}

@media (min-width: 500px) {
  .container {
    height: inherit;
  }
  .topRole {
    font-size: 80px;
    height: 80px;
  }
  .topRole:nth-child(3) {
    margin-top: -35px;
  }
  .name {
    font-size: 80px;
    height: 80px;
  }
  .name:nth-child(3) {
    margin-top: -35px;
  }
  .nameWrapper {
    margin-top: unset;
    margin-bottom: unset;
  }
}

@media (min-width: 913px) {
  .container {
    padding-top: 0;
  }
  .innerWrapperTop {
    flex-direction: row;
    justify-content: space-between;
    margin-top: unset;
    text-align: left;
  }
  .innerWrapperBottom {
    flex-direction: row;
    align-items: unset;
    text-align: left;
  }
  .topRole {
    font-size: 12vw;
    letter-spacing: 10px;
    height: 12vw;
    justify-content: flex-start;
  }
  .topRole:nth-child(3) {
    margin-top: -40px;
  }
  .name {
    font-size: 12vw;
    letter-spacing: 10px;
    height: 12vw;
    justify-content: flex-end;
  }

  .name:nth-child(3) {
    margin-top: -40px;
  }
  .blurb {
    font-size: 1.35vw;
    text-align: left;
  }
  .blurbPiece {
    margin-bottom: unset;
  }
  .roleWrapper {
    margin-bottom: unset;
  }
}
