.mainContainer {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
}
.mainInnerWrapper {
  height: inherit;
  width: 92%;
}
/* .mainWrapper::-webkit-scrollbar {
  display: none;
} */

@media (min-width: 913px) {
  .mainWrapper {
    height: calc(100vh - 100px);
  }
}
