.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 5000px;
  background-color: red;
}

.name {
  font-size: 30px;
  margin-top: 2rem;
  font-weight: 700;
}

.tool {
  font-size: 18px;
  margin-top: 0.5rem;
}
.toolkit {
  font-size: 30px;
}
.role {
  font-size: 18px;
  margin-top: 0.5rem;
}

.button {
  --c: black; /* the color*/
  --ch: white;
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  box-shadow: 0 0 0 0.1em inset var(--c);
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
  padding: 1rem 2rem 1rem 2rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 45px;
  max-width: 180px;
}

.button:hover {
  --_p: 100%;
  color: white;
  transition: background-position 0.4s, background-size 0s, color 0.4s;
}

.button:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}

@media (min-width: 912px) {
}
