.container {
  display: block;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.section {
  display: flex;
  margin-bottom: 3rem;
  flex-direction: column;
  justify-content: center;
}

.sectionLeft {
  flex: 0 1 30%;
}
.sectionLeft > p {
  font-size: 18px;
  margin-bottom: 2rem;
}
.sectionRight {
  flex: 0 1 70%;
  max-width: 965px;
}

.summaryWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  justify-content: flex-start;
}
.summary {
  font-size: 30px;
  line-height: 33px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.contactList {
  display: flex;
}

.contact {
  margin-right: 0.5rem;
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
}

.detailRow {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  flex-direction: column;
}
.detailLeft {
  flex: 0 1 20%;
  font-size: 18px;
}

.detailRight {
  flex: 0 1 80%;
  font-size: 18px;
  color: #868788;
}

.toolkit {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tool {
  font-size: 18px;
  margin-bottom: 1rem;
  flex: 0 1 33.33%;
  margin: 0;
}

.experienceRow {
  display: flex;
  width: 100%;
}
.experienceLeft {
  flex: 0 1 20%;
  font-size: 18px;
}

.experienceRight {
  flex: 0 1 80%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.experienceText {
  font-size: 18px;
  margin-bottom: 3rem;
  text-align: left;
}

.experienceTextLight {
  color: #868788;
  text-align: left;
}

.accordionBody {
  overflow: hidden;
}

.chevron {
  transition: 0.2s ease-out;
}
.turn {
  transform: rotate(90deg);
}

@media (min-width: 810px) {
  .section {
    flex-direction: row;
  }
  .sectionLeft > p {
    margin-bottom: unset;
  }
  .summary {
    font-size: 40px;
    line-height: 43px;
  }
  .detailRow {
    flex-direction: row;
  }
}
