.container {
  display: block;
  padding-bottom: 3rem;
}
.section {
  display: flex;
  flex-direction: column;
}
.section:nth-child(1) {
  margin-top: 3rem;
}

.sectionHeading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sectionHeadingText {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

@media (min-width: 500px) {
}

@media (min-width: 909px) {
  .sectionHeading {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .sectionHeadingText {
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
  }
}
@media (min-width: 960px) {
}
@media (min-width: 1306px) {
  .sectionHeadingText {
    /* font-size: 45px;
    font-weight: 700; */
  }
}
@media (min-width: 1600px) {
}
