.container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: white;
  width: 92%;
}
.projectsWrapper {
  flex: 0 1 50%;
  height: fit-content;
}

.projectsWrapper:nth-child(1) {
  padding-right: 0;
  margin-bottom: 2rem;
}
.projectsWrapper:nth-child(2) {
  padding-left: 0;
}

.projectsWrapper h1 {
  font-size: 35px;
}
.projectsWrapper h3 {
  font-size: 17px;
}
.accordion {
  background-color: red;
  width: 100%;
  height: 100%;
}

@media (min-width: 913px) {
  .container {
    flex-direction: row;
    padding-top: unset;
  }
  .about > p {
    display: block;
  }
  .about > a {
    display: none;
  }
  .projectsWrapper:nth-child(1) {
    padding-right: 1rem;
    margin-bottom: 0;
  }
  .projectsWrapper:nth-child(2) {
    padding-left: 1rem;
  }
}
